@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
button {
  color: #E8E8E8;
  border: none;
  background-color: #222222;
}
header {
  background: #222222;
  padding: 20px 0;
}
.navigation__left {
  display: flex;
  gap: 41px;
  margin-left: 231px;
}
.navigation__right {
  display: flex;
  gap: 33px;
  margin-right: 240px;
  position: relative;
}
.basket {
  position: relative;
  padding-right: 5px;
  padding-top: 5px;
}
.badge {
  position: absolute;
  top: -2px;
  right: 0;
  background-color: #F16D7F;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: o 50px;
  background: #F1E4E6;
  position: relative;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 232px;
  height: 634px;
  background-color: #FFFFFF;
}
.menu p {
  margin: 32px 144px 24px 32px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}
.menu h2 {
  margin: 32px auto 24px 32px;
  font-size: 14px;
  font-weight: lighter;
  color: #F16D7F;
}
.menu li a {
  margin: 10px auto 11px 54px;
  font-size: 14px;
  line-height: 23px;
}
.banner img {
  flex: 0 0 50%;
}
.banner__rightSide {
  flex: 0 0 50%;
  text-align: left;
  padding-left: 50px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin: 138px 331px 381px 63px;
}
.banner__rightSide h1 {
  font-size: 48px;
  font-weight: 900
}
.banner__rightSide h3 {
  font-size: 32px;
  font-weight: 700
}
.highlight {
  color: #F16D7F;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 65px 230px 96px ;
}
.FOR__WOMEN {
  width: 360px;
  height: 260px;
  background-image: url(./img/FOR\ WOMEN.png);
}
.FOR__WOMEN__bgc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.70);
}
.FOR__MEN {
  width: 360px;
  height: 260px;
  background-image: url(./img/FOR\ MAN.png);
}
.FOR__MEN__bgc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.70);
}
.FOR__KIDS {
  width: 360px;
  height: 260px;
  background-image: url(./img/FOR\ KIDS.png);
}
.FOR__KIDS__bgc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.70);
}
.ACCESORIES {
  width: 1140px;
  height: 180px;
  background-image: url(./img/ACCESORIES.png);
}
.ACCESORIES__bgc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.70);
}
h4 {
  color: #F16D7F;
  size: 24px;
  line-height: 29px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
h5 {
  color: #FFFFFF;
  size: 16px;
  line-height: 19px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemsHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 48px;
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.card {
  position: relative;
  width: 360px;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: auto;
  display: block;
}
.card:hover img {
  opacity: 0.5;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #3A3838DB;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.card:hover .overlay {
  opacity: 0.6;
}
.add-to-cart {
  background-color: #3A3838DB;
  border: 1px solid #FFFFFF;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.add-to-cart:hover {
  background-color: #3A3838DB;
}
.add-to-cart img {
  color: #FFFFFF;
  width: 28px;
  height: 28px;
}
.cardText {
 display: flex;
 flex-direction: column;
 gap: 16px;
 padding: 24px 29px 24px 16px;
 background-color: #F8F8F8;
}
.description {
  color: #5D5D5D;
}
.price {
  color: #F16D7F;
}
.fotterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF6A6A;
  color: #F26376;
  background: #FFFFFF;
  padding: 15px 40px;
  margin: 48px auto 60px;
}
.fotterBtn:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}
.delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 100px 230px;
  background: #222224;
}
.delivery__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 360px;
  height: 134px;
}
.delivery__block img {
  max-width: 50px;
  height: auto;
  margin-bottom: auto;
}
.delivery__h3 {
  color: #FBFBFB;
  margin-bottom: 15px;
}
.delivery__p {
  color: #FBFBFB;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 327px;
  padding: 230px 100px;  
  background-image: url(./img/nature.png);
  background-size: cover;
  background-position: center bottom;
}
.face {
  width: 360px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.face img {
  margin-bottom: 30px;
}
.face__p {
  font-size: 20px;
}
.SUBSCRIBE {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
form {
  padding-top: 22px;
  display: flex;
}
input {
  border-radius: 12% 0 0 12%;
  height: 49px;
  width: 256px;
  background-color: #E1E1E1;
  border: none;
  padding-left: 30px;
}
.subscribe__btn {
  border-radius: 0 12% 12% 0;
  height: 49px;
  width: 100px;
  background-color: #F16D7F;
}
footer {
  background: #222224;
  padding: 30px 0;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 655px;
}
.footer__left {
  width: 332px;
  height: 19px;
  color: #FBFBFB;
  margin-left: 235px;
}
.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-right: 230px;
}
.footer__right a {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__right a:hover {
  background-color: #FF6A6A;
}
.footer__right a:hover img {
  filter: invert(1);
}
@media(min-width: 768px) and (max-width: 1140px) {
  .navigation__left {
    margin-left: 32px;
  }
  .navigation__right {
    margin-right: 32px;
  }
  .banner__rightSide {
    margin: 138px 33px 137px 39px;    
  }
  .container {
    max-width: 768px;
  }
  .categories {
    gap: 16px;
    padding: 30px 20px;
  }
  .FOR__WOMEN {
    width: 232px;
    height: 167px;
  }
  .FOR__MEN {
    width: 232px;
    height: 167px;
  }
  .FOR__KIDS {
    width: 232px;
    height: 167px;
  }
  .ACCESORIES {
    width: 735px;
    height: 116px;
  }
  .itemsHeader{
    gap: 3px;
    padding: 72px;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
  .fotterBtn {
    padding: 15px 40px;
    margin: 32px auto 70px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 375px;
  }
  .man {
    display: none;
  }
  .basket {
    display: none;
  }
  .navigation__left {
    margin-left: 16px;
  }
  .navigation__right {
    margin-right: 16px;
  }
  .banner img {
    display: none;
  }
  .banner__rightSide {
    margin: 148px auto;
  }
  .banner__rightSide h1 {
    font-size: 38px;
    font-weight: 900
  }
  .banner__rightSide h3 {
    font-size: 20px;
    font-weight: 700
  }
  .categories {
    gap: 32px;
    padding: 64px 16px;
  }
  .ACCESORIES {
    width: 360px;
    height: 111px;
    background-position: center;
    background-size: cover;
  }
  .itemsHeader h2 {
    font-size: 36px;
  }
  .itemsHeader p {
    color: #9f9f9f;
    font-size: 14px;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
  }
}